#img1{
	width: 150px;
	height:150px;
	position: absolute;
	top: 422px;
	left: 300px;
	background: url(word_bg.png);
}
		
#img2{
	width: 150px;
	height:150px;
	position: absolute;
	top: 422px;
	left: 450px;
	background: url(word_bg.png);
}

#img3{
	width: 150px;
	height:150px;
	position: absolute;
	top: 422px;
	left: 600px;
	background: url(word_bg.png);
}

#img4{
	width: 150px;
	height:150px;
	position: absolute;
	top: 422px;
	left: 750px;
	background: url(word_bg.png);
}

#img5{
	width: 150px;
	height:150px;
	position: absolute;
	top: 422px;
	left: 900px;
	background: url(word_bg.png);
}
img{
	width: 110px;
	height: 110px;
	margin: 20px;
}

#banner{
	background: url(1.png);
	height: 200px;
	width: 1178px;
	margin: 0 auto;
}


#input{
	height: 200px;
	width: 1178px;
	background-color: #FFFACD;
	margin: 0px auto;
}

.bg{
	padding-top: 200px;
	height: 200px;
	width: 1178px;
	margin: 20px auto 0;
	background: url(bg1.png);
}

.btn{
	margin-left: 1100px;
 	margin-top: 8px;
 	padding: 10px 12px;
	font-size: 12px;
	cursor: hand;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #9D804F;
	border: none;
	border-radius: 15px;
	box-shadow: 0 6px #87582B;  
}


.btn:hover {
    background-color: #DAA520;
}


.btn:active {
  background-color: #DAA520;
  box-shadow: 0 5px #87582B;
  transform: translateY(4px);
}
